<?xml version='1.0' encoding='utf-8'?>
    <widget xmlns:gap="http://phonegap.com/ns/1.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    id="com.eluvy.eluvy" 
    version="3.1.2">

        <name>Eluvy</name>
        <description>
            
        </description>
        <author email="rvgupta444@gmail.com"
        href="http://cordova.io">
            Mofluid Team
        </author>
     <gap:plugin name="com.paypal.cordova.mobilesdk" />
    	<gap:plugin name="org.apache.cordova.console" />
    	<gap:plugin name="org.apache.cordova.device" />
    	<gap:plugin name="org.apache.cordova.dialogs" />
    	<gap:plugin name="org.apache.cordova.network-information" />
    	<gap:plugin name="org.apache.cordova.inappbrowser" />
    	<gap:plugin name="org.apache.cordova.splashscreen" />
    	<gap:plugin name="com.phonegap.plugins.pushplugin" />
    	<gap:plugin name="org.apache.cordova.statusbar" />
        <gap:plugin name="com.millerjames01.sqlite-plugin" version="1.0.1" />
        <gap:plugin name="com.danielcwilson.plugins.googleanalytics"/>
    	<gap:plugin name="nl.x-services.plugins.socialsharing"/>
    	<gap:plugin name="com.telerik.plugins.nativepagetransitions"/>
  	<!--	<gap:plugin name="nl.x-services.plugins.googleplus" source="plugins.cordova.io"/> -->
  		
    	<!--Icons and Splash Screens Configuration for Mofluid Apps-->
		
		<!-- ===================== -->
		<!-- Global Configuration  -->
		<!-- ===================== -->
		<!-- Icons -->
		<icon src="resource/icon/96x96px_2.png" />
		<!-- Splash Screens -->
		<gap:splash src="resource/splash/480x800.png" />
		
		<!-- ====================== -->
		<!-- iOS Configuration      -->
		<!-- ====================== -->
		<!-- Icons -->
		
		
		
		<icon src="resource/icon/96x96px_2.png" gap:platform="android" width="96" height="96" />
		<icon src="resource/icon/72x72px_1.png" gap:platform="android" width="72" height="72" />
		<icon src="resource/icon/48x48px_1.png" gap:platform="android" width="48" height="48" />
		<icon src="resource/icon/36x36px_1.png" gap:platform="android" width="36" height="36" />
		<icon src="resource/icon/96x96px_3.png" gap:platform="android" width="96" height="96" />
		
		<!--
		<icon src="{{android-icon-small-2x}}" gap:platform="android" width="58" height="58" />
		<icon src="{{android-icon-40-2x}}" gap:platform="android" width="80" height="80" />
		<icon src="{{android-icon-50-2x}}" gap:platform="android" width="100" height="100" />
		<icon src="{{android-icon-57-2x}}" gap:platform="android" width="114" height="114" />
		<icon src="{{android-icon-60-2x}}" gap:platform="android" width="120" height="120" />
		<icon src="{{android-icon-72-2x}}" gap:platform="android" width="144" height="144" />
		<icon src="{{android-icon-76-2x}}" gap:platform="android" width="152" height="152" />
		-->
		<!-- Splash Screens -->
		<gap:splash src="resource/splash/480x800.png" gap:platform="android" width="480" height="800" />
		<gap:splash src="resource/splash/200x320.png" gap:platform="android" width="200" height="320" />
		<gap:splash src="resource/splash/512x512_7.png" gap:platform="android" width="320" height="480" />
		<gap:splash src="resource/splash/720x1280.png" gap:platform="android" width="720" height="1280" />
		<gap:splash src="resource/splash/800x480.png" gap:platform="android" width="800" height="480" />
		<gap:splash src="resource/splash/320x200.png" gap:platform="android" width="320" height="200" />
		<gap:splash src="resource/splash/480x320.png" gap:platform="android" width="480" height="320" />
		<gap:splash src="resource/splash/1280x720.png" gap:platform="android" width="1280" height="720" />
		
    
	         <preference name="phonegap-version" value="3.7.0" /> -->
                <preference name="orientation" value="portrait" />
                <preference name="target-device" value="universal" />
                <preference name="DisallowOverscroll" value="true" />
          	<preference name="webviewbounce" value="false" />
          	 <preference name="SplashScreenDelay" value="5000" />

        

 <content src="index.html" />
    	<access origin="*" />
	</widget>
